.color0
{
  background-color: #b3b3cc;
}

.color1
{
  background-color: #e0e0eb;
}

.cacher
{
  display: none;
}

table
{
  border-collapse: collapse;
  border: 1px solid black;
}

tr, td, th
{
  border: 1px solid black;
}

h1
{
  text-align: center;
}
