<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <title>Malkyrs Surveillance</title>
  </head>
  <body>
    <h1>Identification des agents ennemis</h1>
    <div id="agent">
      <p>Saisissez le nom d'un agent</p>
      <p><input v-model="nom"/></p>
      <p>{{ texte }}</p>
      <p>Dossier(s) de {{ nom }}</p>
      <table v-if="!cacher">
        <tr>
          <th v-for="value in store.state.head">{{ value }}</th>
        </tr>
        <tr v-for="(ligne, index) in store.state.lignes">
          <template v-if="index%2 === 0">
            <td v-for="value in ligne" class="color0">{{ value }}</td>
          </template>
          <template v-else>
            <td v-for="value in ligne" class="color1">{{ value }}</td>
          </template>
        </tr>
      </table>
    </div>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
